name: Flask CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Get the code from your repository
      - name: Checkout code
        uses: actions/checkout@v5
      
      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      
      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # Step 4: Run the tests
      - name: Run app.py
        run: pytest app.py &
      
      - name: Run pytest
        run: pytest -v
      
  notify:
    runs-on: ubuntu-latest
    if: always()
    needs: [test]
    steps:
      - name: Send Discord Notification
        uses: Retr0-01/better-discord-notification@main
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }} # It is recommended to store your webhooks using actions secrets
          msg-content: '@everyone Testing by Jiale'
          embed-color: '3093151'
          footer-icon: 'https://cdn.discordapp.com/attachments/712252851283296260/961953852897255454/706526933973860412.png'
          ignore-hidden: 'false'
